<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/index.js"></script>
    <title>Shwipe</title>
</head>
<body onload="getNewShoe(); addEnterFunctionality();">
<div class="container">

    <div class="col-md-9 swipePanel">
        <!--<div class="row">-->
            <div class="prefBar row">
                <div class="genderPrefs col-md-3">
                    <p>MEN'S:</p>
                    <input type="checkbox" onclick="setMale()" id="genderMale" checked>
                    <p>   WOMEN'S:</p>
                    <input type="checkbox" onclick="setFemale()" id="genderFemale" checked>
                    <p>   KID'S:</p>
                    <input type="checkbox" onclick="setKids()" id="genderKids" checked>
                </div>
                <div class="col-md-6">
                    <input type="text" class="price" id="minPrice" placeholder="Min Price (cents)">
                    <input type="text" class="price" id="maxPrice" placeholder="Max Price (cents)">

                    <input type="text" class="price" id="brandInput" placeholder="Enter brand name">
                    <input type="button" id="brandEnter" value="Search" onclick="brandAdd()">
                </div>
                <div class="col-md-3">
                    <button type="button" class="buttons" id="logoutBtn" onclick="logout()">Logout</button>
                    <button type="button" class="buttons" id="submitBtn" onclick="setPreferences()">SUBMIT</button>
                </div>

            </div>
        <!--</div>-->
        <div class="shwipeHead" id="shwipeHead">
            <img src="head.png" />
        </div>
        <div class="shoe-box" id="shoe-box">
            <img src="dislike.png" class="btn" onclick="dislike()" />
            <div id="currentShoe">
                <img class="shoePicture" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"/>
            </div>
            <img src="like.png" class="btn" onclick="like()" />
        </div>
        <div id="morePicsButtonDiv"></div>

    </div>
    <div class="col-md-3" id="likePanel">
        <div id="likeHead">
            <h2> recently liked: </h2>
        </div>
        <div id="likeList">
            {{#likedProducts}}
            <!--<a href="{{linkToBuy}}">-->
                <div class="likedProd">
                    <img class="likedProdImg" src="{{productPicture}}"/>
                    <div class="textBox">
                        <a href="{{linkToBuy}}">
                            <p>{{productName}}</p>
                        </a>
                    </div>
                    <div class="data">
                        <p>{{numLikes}} likes</p>
                    </div>
                    <div id="expand">
                        <p>>> see description </p>
                        <p id="description">
                            {{productDescription}}
                        </p>
                    </div>
                </div>
            <!--</a>-->
            {{/likedProducts}}
        </div>
    </div>
</div>
</body>
</html>