<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/index.js"></script>
    <title>Shwipe</title>
</head>
<body onload="getNewShoe()">
<div class="container">
    <div class="col-md-3" id="likePanel">
        <div id="likeHead">
            <h2> recently liked: </h2>
        </div>
        <div id="likeList">
        </div>
    </div>
    <div class="col-md-9 swipePanel">
        <h1>shwipe</h1>
        <button type="button" class="btn" onclick="logout()">Logout</button>
        <div class="shoe-box">
            <button type="button" class="btn" onclick="dislike()">Dislike</button>
            <div id="currentShoe">
                <img class="shoePicture" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"/>
            </div>
            <button type="button" class="btn" onclick="like()">Like</button>
        </div>

    </div>
</div>
</body>
</html>