<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/index.js"></script>
    <title>Shwipe</title>
</head>
<body onload="getNewShoe()">
<div class="container">
    <div class="col-md-3" id="likePanel">
        <div id="likeHead">
            <h2> recently liked: </h2>
        </div>
        <div id="likeList">
            {{#likedProducts}}
            <a href="{{linkToBuy}}">
                <div class="likedProd">
                    <img src="{{productPicture}}"/>
                    <div class="textBox">
                        <p>{{productName}}</p>
                    </div>
                    <div class="data">
                        <p>{{numLikes}}likes</p>
                    </div>
                    <p id="expand">see description</p>
                    <p id="description">
                        {{productDescription}}
                    </p>
                </div>
            </a>
            {{/likedProducts}}
        </div>
    </div>
    <div class="col-md-9 swipePanel">
        <div class="prefBar">
            <div class="genderPrefs">
                <p>Male:</p>
                <input type="checkbox" onclick="setMale()" id="genderMale" checked>
                <p>   Female:</p>
                <input type="checkbox" onclick="setFemale()" id="genderFemale" checked>
                <p>   Kids:</p>
                <input type="checkbox" onclick="setKids()" id="genderKids" checked>
            </div>
            <button type="button" class="btn" id="submitBtn" onclick="setPreferences()">SUBMIT</button>
        </div>
        <h1>shwipe</h1>
        <button type="button" class="btn" id="logoutBtn" onclick="logout()">Logout</button>
        <div class="shoe-box" id="shoe-box">
            <!--<button type="button" class="btn" id="dislikeBtn" onclick="dislike()">-->
                <img src="dislike.png" class="btn" onclick="dislike()" />
            <!--</button>-->
            <div id="currentShoe">
                <img class="shoePicture" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"/>
            </div>
            <!--<button type="button" class="btn" id="likeBtn" onclick="like()">-->
            <img src="like.png" class="btn" onclick="like()" />            <!--</button>-->
        </div>

    </div>
</div>
</body>
</html>