
html,body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    /*position: fixed;*/
}

#likePanel {
    background-color: white;
    height: 100%;
    font-color: black;
    border-left: 1px solid black;
    overflow-y: scroll;
}

#likeHead {
    height: 30px;
    border-bottom: 1px solid pink;
    font-weight: 100;
    padding-bottom: 10px;
}

.likedProdImg{
    width: 20%;
    padding-right: 10px;
    display: inline;
}

.textBox {
    display: inline;
}

.data {
    display: block;
    text-align: right;
}

.likedProd p{
    display: inline;
}

.likedProd {
    display: inline-block;
    border-top: 1px solid red;
    width: 100%;
}


.swipePanel {
    height: 100%;
    text-align: center;
}

.shwipeHead {
    height: 30%;
    max-width: 90%;
    margin: auto;
    padding-top: 25px;
}


.shwipeHead img {
    height: 90%;
    margin: auto auto auto auto;
}

.shoe-box {
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    max-height: 60%;
    width: 90%;
    /*height: 500px;*/
    vertical-align: center;
    margin-bottom: 10px;
}


#currentShoe {
    display: inline;
     max-height: 60%;
     width: 75%;
}

.shoePicture{
    /*height: 500px;*/
    height: 100%;
    display: inline;
    margin: auto;
}


#description {
    display: none;
}

#description:hover {
    display: block;
}

#expand:hover > #description {
    display: block;
}

.prefBar {
    width: 100%;
    /*height: 50px;
    /*background-color: black;*/
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.genderPrefs {
    display: inline-block;
    align: left;
    float: left;
    height: 100%;
    vertical-align: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.genderPrefs p {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#genderMale,
#genderFemale,
#genderKids {
    display: inline-block;
}

.buttons {
    /*float: right;*/
    background-color: white; /* Blue */
    border: none;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}


.buttons {
    float: right;
    border: 1px solid red;
    color: red;
    border-radius: 2px;
}

.buttons:hover {
    border: 1px solid black;
    color: black;
    border-radius: 2px;
}

.price {
    display: inline-block;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

#morepics {
    /*float: right;*/
    background-color: white; /* Blue */
    border: none;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    display: block;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid red;
    color: red;
    border-radius: 2px;
}

#morepics:hover {
    border: 1px solid black;
    color: black;
    border-radius: 2px;
}


.btn {
  width: 100px;
  display: inline-block;
}

#morePicsButtonDiv {
    height: 30px;
    margin: auto;
}

#brandEnter {
    display: inline-block;
}