
html,body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

#likePanel {
    background-color: white;
    height: 100%;
    font-color: black;
    border-right: 1px solid black;
}

#likeHead {
    height: 30px;
    border-bottom: 1px solid pink;
    font-weight: 100;
    padding-bottom: 10px;
}

.likedProd img{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    display: inline;
}

.textBox {
    display: inline;
}

.data {
    display: block;
    text-align: right;
}

.likedProd p{
    display: inline;
}

.likedProd {
    display: inline-block;
    border-top: 1px solid red;
    width: 100%;
}

.swipePanel {
    height: 100%;
    text-align: center;
}

.swipePanel h1 {
    text-align: center;
    font-size: 150px;
    font-weight: 100;
}

.shoe-box {
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    vertical-align: center;
}

.shoePicture{
    height: 500px;
    width: 500px;
    display: inline;
    margin: auto;
}

.swiper {
    display: inline-block;
}

#currentShoe {
    display: inline;
}

.btn {
    display: inline;
    width: 75px;
}