
html,body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

#likePanel {
    background-color: white;
    height: 100%;
    font-color: black;
    border-right: 1px solid black;
    overflow-y: scroll
}

#likeHead {
    height: 30px;
    border-bottom: 1px solid pink;
    font-weight: 100;
    padding-bottom: 10px;
}

.likedProd img{
    width: 20%;
    padding-right: 10px;
    display: inline;
}

.textBox {
    display: inline;
}

.data {
    display: block;
    text-align: right;
}

.likedProd p{
    display: inline;
}

.likedProd {
    display: inline-block;
    border-top: 1px solid red;
    width: 100%;
}

.swipePanel {
    height: 100%;
    text-align: center;
}

.shwipeHead {
    height: 30%;
    max-width: 90%;
    margin: auto;
}


.shwipeHead img {
    height: 90%;
    margin: auto auto auto auto;
}

.shoe-box {
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 65%;
    max-width: 80%;
    /*height: 500px;*/
    vertical-align: center;
    margin-bottom: 10px;
}

.btn {
  width: 7.5%;
  display: inline-block;
}

#currentShoe {
    display: inline;
    height: 80%;
}

.shoePicture{
    /*height: 500px;*/
    height: 100%;
    display: inline;
    margin: auto;
}

#description {
    display: none;
}

#expand:hover + #description {
    display: block;
}

.prefBar {
    display: inline;
    position: static;
    float: left;
    width: 100%;
    height: 5%;
    background-color: black;
}

.genderPrefs {
    display: inline-block;
    align: left;
    float: left;
}

.genderPrefs p {
    display: inline-block;
    color: white;
    vertical-align: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#genderMale,
#genderFemale,
#genderKids {
    display: inline-block;
}

.buttons {
    /*float: right;*/
    background-color: black; /* Blue */
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.buttons {
    float: right;
    background-color: black;
    color: white;
}

.buttons:hover {
    background-color: white;
    color: black;
}
